/* Description: Master CSS file */

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- About Us
- Services
- Products
- Testimonials
- Customers
- Contact
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Other Media Queries
******************************************/

/**************************/
/*     General Styles     */
/**************************/
body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #000;
  font: 400 1rem/1.625rem "Cormorant Garamond", serif;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.4px;
}

h3 {
  color: #000000;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

h5 {
  color: #000000;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.975rem;
  line-height: 1.5rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

* {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

a {
  color: #ce873a;
  text-decoration: none;
}

a:hover {
  color: #ce873a;
  text-decoration: none;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.read-more {
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 1.5rem;
}

.read-more .fas {
  margin-left: 0.625rem;
  font-size: 1rem;
  vertical-align: -8%;
}

.blue {
  color: #ce873a;
}

.bg-gray {
  background-color: #fcfafb;
}

.section-title {
  margin-bottom: 0.5rem;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.975rem;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #ce873a;
  border-radius: 30px;
  background-color: #ce873a;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #ce873a; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #ce873a;
  border-radius: 30px;
  background-color: #ce873a;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #ce873a; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ce873a;
  border-radius: 30px;
  background-color: #ce873a;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-sm:hover {
  background-color: transparent;
  color: #ce873a; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-reg:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-lg:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #ef473d;
  border-radius: 30px;
  background-color: transparent;
  color: #ef473d;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-outline-sm:hover {
  background-color: #ef473d;
  color: #ffffff;
  text-decoration: none;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
  width: 100%;
  padding-top: 0.975rem;
  padding-bottom: 0.975rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 0.975rem;
  line-height: 1.5rem;
  -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
  display: block;
  height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #ce873a;
  border-radius: 30px;
  background-color: #ce873a;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #ce873a;
  background-color: transparent;
  color: #ce873a;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
  background-color: transparent;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0.975rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar .logo-image img {
  width: 100px;
  height: 62px;
}

.navbar .logo-text {
  color: #ce873a;
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  font-size: 1.975rem;
  line-height: 1rem;
  text-decoration: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #fcfafb;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #000;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
  color: #ce873a;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
  animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar .dropdown-menu {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border: none;
  background-color: #fcfafb;
}

.navbar .dropdown-item {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: #ce873a;
  font-weight: 600;
  font-size: 0.975rem;
  line-height: 0.975rem;
  text-decoration: none;
}

.navbar .dropdown-item:hover {
  background-color: #fcfafb;
  color: #ce873a;
}

.navbar .dropdown-divider {
  width: 100%;
  height: 1px;
  margin: 0.5rem auto 0.5rem auto;
  border: none;
  background-color: #d1d1d1;
}
/* end of dropdown menu */

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  font-size: 1.25rem;
}

/******************/
/*     Header     */
/******************/
.header {
  padding-top: 6rem;
  padding-bottom: 4em;
  background: url("../images/bg/home-banner.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.header .h1-large {
  margin-bottom: 1.75rem;
}

.header .p-large {
  margin-bottom: 2.25rem;
}

.header .image-container {
  margin-top: 2rem;
}

/******************/
/*     About Us     */
/******************/
.about_us {
  padding: 115px 0 110px;
}
.section__header {
  text-align: center;
  padding-bottom: 60px;
}
.about_us .section__header p {
  margin-bottom: 0;
  color: #ce873a;
  text-transform: uppercase;
}
.about_us .section__header h3 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.about_us .section__header i {
  font-size: 36px;
}

.about_us .section__content {
  text-align: center;
}
.about_us .section__content h5 {
  font-size: 16px;
  color: #555;
}
.about_us .section__content h5 span {
  text-transform: uppercase;
  color: #ce873a;
}
.about_us .section__content p {
  margin-bottom: 30px;
  color: #555;
  font-size: 22px;
  line-height: 1.4em;
}
.about_us .section__content img {
  margin-bottom: 15px;
}

/********************/
/*     Services     */
/********************/
.bg--cover {
  background-position: 50% 50% !important;
  background-size: cover !important;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.services > * {
  width: 100%;
  max-width: 50%;
}
.services .section__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.services .section__right > * {
  max-width: 50%;
  width: 100%;
}
.services .section__container {
  padding: 100px 45px;
  background-color: #7f462c;
}
.services .section__header {
  padding-bottom: 30px;
  text-align: center;
}
.services .section__header p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
.services .section__header h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}
#services .section__header i {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1em;
}
.services .section__content {
  text-align: center;
}
.services .section__content p {
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 19px;
  line-height: 1.4em;
  font-style: italic;
}
.services .section__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.services .section__content ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.6em;
}
@media (max-width: 1680px) {
  .services .section__left {
    max-width: 40%;
  }
  .services .section__right {
    max-width: 60%;
  }
}
@media (max-width: 1366px) {
  .services .section__left {
    max-width: 30%;
  }
  .services .section__right {
    max-width: 70%;
  }
}
@media (max-width: 1199px) {
  .services .section__left {
    max-width: 0%;
  }
  .services .section__right {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .services .section__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .services .section__right > * {
    max-width: 100%;
  }
  .services .section__container {
    padding: 60px 30px;
  }
  .services .section__image {
    min-height: 300px;
  }
}
.services .section__container {
  background-color: #7f462c;
}

/*********************/
/*     Products     */
/*********************/
.basic-1 {
  padding-top: 2.25rem;
  padding-bottom: 4.75rem;
  background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
}
.product__thumbnail {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.product__thumbnail img {
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.products .section__header i {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1em;
}

.products .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 55px;
}
.products .badge i {
  font-size: 18px;
  color: #ffffff;
  font-style: normal;
}
.products .badge--sale {
  background-image: url("../images/bg/bagde-sale.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.products .badge--new {
  background-image: url("../images/bg/badge-new.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.products .product__title {
  font-weight: 700;
  color: #000;
  font-size: 22px;
}
.products .product__title a {
  outline: none;
  font-size: 16px;
  text-decoration: none;
}
.products .product__title:hover {
  color: #ce873a;
}

.products .product__price {
  display: block;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 600;
  color: #ce873a;
  line-height: 1.4em;
  text-transform: uppercase;
}
.products .product__price.sale del {
  color: #555;
  font-size: 20px;
}

.products .product__thumbnail .badge {
  position: absolute;
  top: 0;
  left: 0;
}

.products .product__content {
  position: relative;
  text-align: center;
  padding: 0px 16px 30px;
}
.products .product__content p {
  margin-bottom: 0;
  font-weight: 600;
}
.products .product__content p span {
  margin-right: 16px;
  color: #555;
}
.products .product__content .product__desc {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.products .product__shopping {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 220px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}
.products .product__shopping .btn {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 40px;
  color: #ffffff;
  margin: 0 auto;
  font-size: 13px;
  background-color: #7f462c;
  text-transform: uppercase;
}
.products .product__shopping .btn:hover {
  background-color: #ce873a;
}
.products .product__shopping .product__actions {
  padding-left: 0px;
}
.products .product__shopping .product__actions a {
  display: inline-block;
  margin-right: 0px;
  height: 40px;
  width: 40px;
  color: #111;
  border-radius: 40px;
  font-weight: 400;
  vertical-align: top;
  background-color: transparent;
}
.products .product__shopping .product__actions a:hover {
  background-color: #7f462c;
}
.products .product__shopping .product__actions a:last-child {
  margin-right: 0;
}

.product:hover .product__thumbnail img {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
}

.product:hover .product__content .product__desc {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

.product:hover .product__content .product__shopping {
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@media (max-width: 767px) {
  .products .product__thumbnail {
    text-align: center;
  }
  .products .product__thumbnail img {
    max-height: 250px;
  }
}

@media (max-width: 479px) {
  .products {
    max-width: 320px;
    margin: 0 auto;
  }
  .products .badge {
    width: 36px;
    height: 36px;
  }
  .products .badge i {
    font-size: 14px;
  }
  .products .product__thumbnail {
    text-align: center;
  }
  .products .product__thumbnail img {
    max-height: 200px;
  }
  .products .product__title {
    font-size: 16px;
  }
  .products .product__content {
    padding: 0 0 20px;
  }
  .products .product__content p {
    font-size: 14px;
  }
  .products .product__content p span {
    margin-right: 4px;
  }
}
.products .section__footer {
  padding-top: 10px;
  text-align: center;
}
.products .section__footer .btn {
  padding: 15px 36px;
  font-size: 14px;
  color: #464646;
  border-radius: 100px;
  border: 1px solid #464646;
  text-transform: uppercase;
}
.products .section__footer .btn:hover {
  background-color: #ce873a;
  border-color: #ce873a;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .products .container-fluid {
    padding: 0 100px;
  }
}
@media (min-width: 1200px) {
  .products .row .col-xl-3 {
    max-width: 20%;
  }
}
@media (max-width: 1199px) {
  .products {
    padding: 90px 0;
  }
}
@media (max-width: 991px) {
  .products {
    padding: 70px 0;
  }
}
@media (max-width: 479px) {
  .products {
    padding: 50px 0;
  }
}

/************************/
/*     Testimonials     */
/************************/

.testimonials {
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  z-index: 10;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonials:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.testimonials .owl-slider {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.testimonials .owl-slider .owl-dots {
  bottom: 0;
}
.testimonials .owl-slider .owl-dots .owl-dot {
  background-color: #fff;
}
.testimonials .owl-slider .owl-dots .owl-dot.active {
  background-color: #ce873a;
  border-color: #fff;
}
.block--testimonial {
  text-align: center;
}
.block--testimonial .block__header {
  padding-bottom: 40px;
  text-align: center;
}
.block--testimonial .block__header img {
  display: inline-block;
  max-width: 70px;
  border-radius: 50%;
  margin: 0 auto;
}
.block--testimonial .block__content {
  max-width: 750px;
  margin: 0 auto 30px;
}
.block--testimonial .block__content p {
  font-size: 30px;
  font-style: italic;
  color: #000;
}
.block--testimonial .block__content p .hightlight {
  color: #ce873a;
}
.block--testimonial .block__footer {
  position: relative;
  padding-top: 25px;
}
.block--testimonial .block__footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 270px;
  height: 1px;
  width: 100%;
  background-color: #ce873a;
}
.block--testimonial .block__footer p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 991px) {
  .block--testimonial .block__content p {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .block--testimonial .block__content p {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .block--testimonial .block__content p {
    font-size: 16px;
  }
}
.testimonials .block--testimonial .block__content p {
  color: #ffffff;
  font-size: 24px;
}
@media (max-width: 767px) {
  .testimonials .block--testimonial .block__content p {
    font-size: 18px;
  }
}
.carousel--dots .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 0;
}
.carousel--dots .owl-nav > * {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carousel--dots .owl-nav > *:before,
.carousel--dots .owl-nav > *:after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.carousel--dots .owl-nav > *:hover:before,
.carousel--dots .owl-nav > *:hover:after {
  background-color: #ce873a;
}
.carousel--dots .owl-nav .owl-prev:before,
.carousel--dots .owl-nav .owl-prev:after {
  left: 50%;
}
.carousel--dots .owl-nav .owl-prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(-50deg);
  -moz-transform: translate(-50%, -50%) rotate(-50deg);
  -ms-transform: translate(-50%, -50%) rotate(-50deg);
  -o-transform: translate(-50%, -50%) rotate(-50deg);
  transform: translate(-50%, -50%) rotate(-50deg);
}
.carousel--dots .owl-nav .owl-prev:after {
  -webkit-transform: translate(-50%, -50%) rotate(50deg);
  -moz-transform: translate(-50%, -50%) rotate(50deg);
  -ms-transform: translate(-50%, -50%) rotate(50deg);
  -o-transform: translate(-50%, -50%) rotate(50deg);
  transform: translate(-50%, -50%) rotate(50deg);
}
.carousel--dots .owl-nav .owl-next:before,
.carousel--dots .owl-nav .owl-next:after {
  right: 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.carousel--dots .owl-nav .owl-next:before {
  -webkit-transform: translate(-50%, -50%) rotate(-50deg);
  -moz-transform: translate(-50%, -50%) rotate(-50deg);
  -ms-transform: translate(-50%, -50%) rotate(-50deg);
  -o-transform: translate(-50%, -50%) rotate(-50deg);
  transform: translate(-50%, -50%) rotate(-50deg);
}
.carousel--dots .owl-nav .owl-next:after {
  -webkit-transform: translate(-50%, -50%) rotate(50deg);
  -moz-transform: translate(-50%, -50%) rotate(50deg);
  -ms-transform: translate(-50%, -50%) rotate(50deg);
  -o-transform: translate(-50%, -50%) rotate(50deg);
  transform: translate(-50%, -50%) rotate(50deg);
}
@media (max-width: 1199px) {
  .carousel--dots .owl-nav {
    padding: 0 30px;
  }
}

.carousel--dots .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  text-align: center;
}
.carousel--dots .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 20px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  border: none;
  background-color: #ce873a;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.carousel--dots .owl-dots .owl-dot:hover,
.carousel--dots .owl-dots .owl-dot.active {
  width: 3px;
  height: 30px;
  background-color: #fff;
}
.carousel--dots .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .carousel--dots .owl-dots {
    bottom: 10px;
  }
}

@media (max-width: 1199px) {
  .carousel--dots .owl-nav {
    display: none;
  }
}

.carousel--dots-2 {
  padding-bottom: 50px;
}
.carousel--dots-2 .owl-dots {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}
.carousel--dots-2 .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  background-color: #ce873a;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.carousel--dots-2 .owl-dots .owl-dot:hover,
.carousel--dots-2 .owl-dots .owl-dot.active {
  background-color: transparent;
  border: 2px solid #000;
}
.carousel--dots-2 .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .carousel--dots-2 .owl-dots {
    bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .carousel--dots-2 .owl-nav {
    display: none;
  }
}

/********************/
/*    Customers     */
/********************/
.slider-1 {
  padding-top: 2rem;
  padding-bottom: 3.75rem;
  background: linear-gradient(rgb(252, 250, 251), rgb(255, 255, 255));
  text-align: center;
}

.slider-1 h4 {
  margin-bottom: 0.25rem;
}

.slider-1 .section-divider {
  margin-bottom: 1rem;
}

.slider-1 .slider-container {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

/********************/
/*    Team     */
/********************/

.team {
  background: #fff;
  padding: 60px 0;
}
.team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.team .member .member-info {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member .member-info-content {
  transition: margin 0.2s;
}
.team .member:hover{
  opacity: 1;
  transition: 0.4s;
}
.team .member:hover{
  margin-top: 0;
  color: #fff;
  transition: margin 0.4s;
}
.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  color: #000;
  font-size: 22px;
}
.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #ce873a;
}
.team .member .social {
  margin-top: 15px;
}
.team .member .social a {
  transition: none;
  color: #000;
}
.team .member .social a:hover {
  color: #ce873a;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*******************/
/*     Contact     */
/*******************/
.form-1 {
  padding-top: 9.5rem;
  padding-bottom: 8.75rem;
  background: url('../images/bg/home-about.jpg');
  background-position: center;
  background-size: cover;
}
.form-1 .section__header {
  padding-bottom: 20px;
}
.form-1 .section__header p {
  margin-bottom: 0;
  color: #ce873a;
  text-transform: uppercase;
}
.form-1 .section__header h3 {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

.form-1 .section__header i {
  display: inline-block;
  font-size: 30px;
  line-height: 1em;
}

.form-1 .text-container {
  margin-bottom: 4rem;
}

.form-1 .section-divider {
  margin-bottom: 1rem;
}

.form-1 h2 {
  margin-bottom: 1.75rem;
}

.form-1 .list-unstyled .fas {
  font-size: 0.375rem;
  line-height: 1.625rem;
}

.form-1 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

/******************/
/*     Footer     */
/******************/
#footer {
  background: #21202d;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}
#footer .footer-top {
  background: #21202d;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: 'Great Vibes', cursive;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ce873a;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Cormorant Garamond", serif;
  color: #eee;
}
#footer .footer-top .social-links a {
  display: inline-block;
  background: #ce873a;
  color: #eee;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#footer .footer-top .social-links a i {
  line-height: 0;
  font-size: 16px;
}
#footer .footer-top .social-links a:hover {
  background: #fff;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}
#footer .footer-top h4::before {
  right: 0;
  background: #555;
}
#footer .footer-top h4::after {
  background: #fff;
  width: 60px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}
#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #eee;
}
#footer .footer-top .footer-links ul a:hover {
  color: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
  color: #fff;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter p {
  color: #fff;
}
#footer .footer-top .footer-newsletter input[type=email] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type=submit] {
  background: #ce873a;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type=submit]:hover {
  background: #ce873a;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
  padding-top: 1.5rem;
  border-top: 1px solid #d0dae2;
  text-align: center;
}

.copyright a {
  text-decoration: none;
}

.copyright .list-unstyled,
.copyright .statement {
  opacity: 0.7;
}

/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #1d1d21;
}

#myBtn img {
  margin-bottom: 0.25rem;
  width: 18px;
}

/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 9rem;
	padding-bottom: 5rem;
	background-color: #fcfafb;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #fcfafb;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #ce873a;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Max-width 479px  */
@media (max-width: 479px) {
  /* About Us  */
  .about_us {
    padding: 60px 0;
    text-align: center;
  }
  .about_us .section__header {
    padding-bottom: 30px;
  }
  .about_us .section__header h3 {
    font-size: 30px;
  }
  .about_us .section__header h5 {
    font-size: 16px;
  }
  .about_us .section__header i {
    font-size: 30px;
  }
  .about_us .section__image img {
    max-height: 150px;
  }
  .about_us .section__content p {
    font-size: 16px;
  }
  /* end of About Us  */
}
/* Min-width 768px */
@media (min-width: 768px) {
  /* Header */
  .header {
    padding-top: 9rem;
    padding-bottom: 5em;
  }

  .header .h1-large {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
  /* end of header */

  /* About Us  */
  .about_us {
    padding: 80px 0;
    text-align: center;
  }
  .about_us .section__image {
    padding-bottom: 40px;
  }
  .about_us .section__image img {
    max-height: 360px;
  }
  /* end about us  */

  /* Statistics */
  .counter .counter-cell {
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    vertical-align: top;
  }
  /* end of statistics */

  /* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Navigation */
  .navbar {
    padding-top: 1rem;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.2s;
  }

  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fcfafb;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  }

  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }

  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }

  .navbar .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar .nav-item .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .navbar .dropdown-menu {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
  }

  .navbar .dropdown-divider {
    width: 90%;
  }

  .navbar .nav-item .btn-solid-sm {
    margin-top: 0;
    margin-left: 1rem;
  }
  /* end of navigation */

  /* Header */
  .header {
    text-align: left;
  }

  .header .text-container {
    margin-top: 4rem;
  }

  .header .image-container {
    margin-top: 0;
  }

  .header .btn-solid-lg,
  .header .btn-outline-lg {
    margin-right: 0;
    margin-left: 0;
  }

  .header .btn-solid-lg {
    margin-right: 0.5rem;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    display: inline-block;
    width: 286px;
    vertical-align: top;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  /* end of services */

  /* Details 1 */
  .basic-1 .image-container {
    margin-bottom: 0;
  }

  .basic-1 .text-container {
    margin-top: 2rem;
  }
  /* end of details 1 */

  /* Details 2 */
  .basic-2 .text-container {
    margin-top: 3rem;
    margin-bottom: 0;
  }
  /* end of details 2 */

  /* Copyright */
  .copyright {
    text-align: left;
  }

  .copyright .list-unstyled li {
    display: inline-block;
    margin-right: 1rem;
  }

  .copyright .statement {
    text-align: right;
  }
  /* end of copyright */

  /* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* General Styles */
  .container {
    max-width: 1140px;
  }
  /* end of general styles */

  /* Header */
  .header {
    overflow: hidden;
    padding-top: 15.25rem;
    padding-bottom: 12rem;
  }

  .header .text-container {
    margin-top: 0;
  }

  .header .image-container {
    position: relative;
  }

  .header .image-container img {
    position: absolute;
    bottom: -350px;
    left: -140px;
    max-width: none;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    width: 310px;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 5.5rem;
    margin-left: 5.5rem;
  }
  /* end of services */

  /* Details 1 */
  .basic-1 .text-container {
    margin-top: 5rem;
    margin-left: 2.75rem;
  }
  /* end of details 1 */

  /* Details 2 */
  .basic-2 .text-container {
    margin-top: 6rem;
    margin-right: 3rem;
  }

  .basic-2 .image-container {
    text-align: right;
  }
  /* end of details 2 */

  /* Contact */
  .form-1 .text-container {
    margin-top: 1.5rem;
    margin-right: 2.75rem;
  }

  .form-1 form {
    margin-left: 2.75rem;
  }
  /* end of contact */

  /* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */
